electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
registry=https://registry.npmmirror.com/

# pnpm: 确保 electron-builder 打包时依赖正确解析
shamefully-hoist=true